h1{
     
    color: yellow;
    

}

.vermelho{
    color: red;
}

.verde{
    color: green;
}

h2{
    font-family: 'Arial'; 
    color: green;
    font-size:  40px;
    background-color: greenyellow;

}